body{
    padding: 1%;
    background-image: url("Images/Wallpaper_S4ME.jpg");         /*#153145*/ /*#5D87B6*/
    background-size: contain;
    overflow-x: hidden;
    margin-bottom: 1095px;
}

h1{
    display: contents;
    font-size: 300%;
    color: #6699d3; 
    text-shadow: 1px 1px 0.07em black;
}

h1:hover{
    color: #679ad4;
    cursor: pointer;
    text-shadow: 7px 7px 4px rgba(0, 0, 0, 0.644);
    -webkit-transition: 0.5s;
}

h1:not(:hover){
    display: contents;
    font-size: 300%;
    color: #6699d3;
    text-shadow: 1px 1px 0.07em black;
    -webkit-transition: 0.5s;
}

#firstHr{
    position: absolute;
    top: 5%;
    left: -1%;
    width: 99.8%;
    border-color: #034879;
}

#four{color: #002a47;}                                             /*color: #034879;*/

#four:hover{color: #034879;}                                        /*color: #4c7fa8;*/                 

#card{
    display: flex;
    justify-content: center; /*Animation for the card to rotate in the same place.*/
    transform-style: preserve-3d;
    transition: all 2.3s;
}

#front{
    transform: rotateY(180deg);
    backface-visibility: hidden;
    height: 1090px;
}

.flip{transform: rotateY(180deg);}

.asterisk{color: #0077ff;}

input{
    margin: auto;
    height: 1.2%;
    width: 8%;
    min-width: 57px;
    border-radius: 5px;
    text-align: end;
}

input:hover{
    border-color: rgb(133, 169, 248);
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.220), white 20%);
    transition: all 0.1s;
}

input:hover::placeholder, #location:hover::placeholder, #division:hover::placeholder{
    font-size: 12.8px;
    transition: all 80ms;
}

#location, #division, #dominio_four{
    text-align: center;
    margin: auto;
    position: relative;
    top: -0.3%;
    height: 20px;
    border: 2px solid rgba(0, 0, 0, 0.678);
    border-radius: 3px;
}

#location:hover, #division:hover, #dominio_four:hover{
    border: 2px solid rgb(133, 169, 248);
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.220), white 20%);
    font-size: 12.8px;
}

input:focus::placeholder, textarea:focus::placeholder{color: rgb(199, 199, 199);}

#emailManager{
    text-align: center;
    width: 260px;
}

#location{width: 90px;}

#division{width: 200px;}

#dominio_four{width: 160px;}

textarea{
    margin: auto;
    height: 12%;
    width: 40%;
    resize: both;
    min-height: 80px;
    max-height: 200px;
    min-width: 200px;
    max-width: 430px;
    border: 2px solid #000000ad;
    border-radius:5px;
}

textarea:hover{
    border: 2px solid rgb(133, 169, 248);
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.220), white 20%);
}

hr{
    position: relative;
    margin: 1%;
    right: 1%;
    height: 0.001%; width: 99.7%; 
    border-color: #8BC1FF;
}

button{
    margin: auto;
    margin-bottom: 3%;
    width: 50%;
    border-radius: 7px 7px 7px;
    border-color: rgb(87, 146, 255);
    background-image: linear-gradient(to left, rgb(54, 124, 253), rgb(195, 223, 255) 98%);
    box-shadow: 2px 2px 2px 2px black;
    font-weight: 800;
    font-size: 2.1vmin
}

button:hover{
    background-image: linear-gradient(to left, rgb(32, 110, 255), rgb(139, 193, 255) 98%);
    cursor: pointer;
}

button:focus{
    font-size: 2vmin;
    box-shadow: 1px 1px 1px black;
    transition: all 0.1s;
}

.webRTC{ /*Button to switch to WebRTC*/
    margin-top: 0%;
    position: relative;
    top: 1.3%;
    height: 3.5%;
    width: 100%;
    background-image: linear-gradient(to bottom, white 10%, #005b9c);
    border-radius: 0px 0px 8px 8px;
    border: none;
    box-shadow: none;
}

.webRTC:hover{
    background-image: linear-gradient(to bottom, white, #005b9c);
    text-decoration: underline;
}

#back{
    height: 850px;
    backface-visibility: hidden;
}

#quatro{color: #002a47;}                                             /*color: #034879;*/

#quatro:hover{color: #034879;}                                      /*color: #4c7fa8;*/                 

/*
.checkbox{ Checkbox beside of the label.
    position: relative;
    height: 1.4%;
    bottom: 4.1%;
    left: 23%;
}
*/
/* Responsividade checkbox */ /*
@media screen and (max-width: 1860px ) {
    #checkbox{
        height: 1.2%;
        left: 18%;
    }
}

@media screen and (max-width: 1700px ) {
    #checkbox{
        height: 1.1%;
        bottom: 5.81%;
        left: 21%;
    }
}

@media screen and (max-width: 1490px ) {
    #checkbox{
        height: 1.1%;
        bottom: 5.81%;
        left: 24%;
    }
}

@media screen and (max-width: 1368px ) {
    #checkbox{
        height: 1.4%;
        bottom: 4.2%;
        left: 27%;
    }
}

@media screen and (max-width: 500px ) {
    #checkbox{
        height: 1.4%;
        bottom: 4.3%;
        left: 27%;
    }
}*/
/* Responsividade checkbox */

#baseSettings, #select_site, #dominio{
    margin: auto;
    height: 20px;
    width: 180px;
    text-align: center;
    font-size: 79%;
    border: 2px solid rgba(0, 0, 0, 0.678);
    border-radius: 3px;
}

#baseSettings:hover, #select_site:hover, #dominio:hover{
    border: 2px solid rgb(133, 169, 248);
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.220), white 20%);
    font-size: 78.3%;
}

#createUser{ /*Switch to Create user*/
    position: relative;
    top: 1.65%;
    width: 100%;
    border: none;
    visibility: hidden; /*It needs to be hidden, so it is not accessible on the #front*/
}

/*Small mobile screens*/
@media all and (max-width: 340px) {
    body{margin-top: -0.9%;}
    textarea {max-width: 280px;} 
}

/*Screens of the size of normal cell phones, such as Iphone 6*/
@media screen and (min-width: 340px) and (max-width: 375px){
    body{margin-top: -0.9%;}
    textarea{max-width: 330px;}
}

@media screen and (max-width: 700px){
    label{
        padding-top: 7%;
        font-size: 14px;
        font-weight: bold;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        text-shadow: 0.6px 0.6px 0.1em rgba(0, 0, 0, 0.575);
    } 
}
@media screen and (min-width: 701px){
    label{
        padding-top: 3.5%;
        font-size: 17px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        text-shadow: 0.4px 0.4px 0.1em rgba(0, 0, 0, 0.575);
    } 
}

@media screen and (max-width: 1366px) {
    .face{
        position: absolute;
        text-align: center;
        min-width: 455px;
        width: 36%;
        background-color: white;
        border-radius: 10px 10px 10px;
        box-shadow: 4px 4px 0.5em black;
        display: flex;
        flex-direction: column;
    }
    hr{
        width: 99.6%;
    }
}
@media screen and (min-width: 1367px){ /*The characteristics for the card faces.*/
    .face{
        position: absolute;
        text-align: center;
        min-width: 305px;
        width: 45%;
        background-color: white;
        border-radius: 10px 10px 10px;
        box-shadow: 4px 4px 0.5em black;
        display: flex;
        flex-direction: column;
    }

    .webRTC{
        font-size: large;
        top: 2.3%;
    }

    .webRTC:focus {font-size: medium;}
    #createUser {top: 3%;}
}